@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}

.rainbow {
	background-color: #343a40;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	padding: 8px 16px;
}

html[data-theme="dark"] .rainbow {
	color: #29bc89;
}

html[data-theme="dark"] .rainbow span {
	mix-blend-mode: color-dodge;
}

html[data-theme="dark"] .rainbow:hover span {
	mix-blend-mode: color-dodge;
}

.rainbow-1:hover {
	background-image: linear-gradient(
		90deg,
		#3769ff 0%,
		#3769ff 12%,
		#b7f00c 45%,
		#ff1e42 70%,
		#3769ff 100%
	);
	animation: slidebg 10s linear infinite;
}

@keyframes slidebg {
	to {
		background-position: 24vw;
	}
}
